@model Category


@* create form    public int CategoryId { get; set; }

   public string CategoryName { get; set; } = null!;

   public string? Description { get; set; } this field using boostrap *@

<form asp-action="Create" method="post" asp-controller="ProductInformation" asp-action="AddCategoryInfo" method="post" onsubmit="return myInfo(this);">
    <input type="hidden" asp-for="CategoryId" class="form-control" />

    <div class="mb-3">
        <label asp-for="CategoryName" class="form-label"></label>
        <input asp-for="CategoryName" class="form-control" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
