@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<button 
    type="button"
    class="btn btn-primary"
    onclick="addEditRecorod(0,false)"
>Add Item</button>
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
    Open Offcanvas Sidebar
</button>
<table id="display">

    <tr>
        <th>categoryId</th>
        <th>categoryName</th>
        <th>description</th>
        <th>action</th>
            
    </tr>
</table>

<div class="offcanvas offcanvas-start" id="demo">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title">Heading</h1>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body" id="offcanvasBody">
       
    </div>
</div>

@section Scripts
{
    <script>

        var deleteCategory,addEditRecorod,myInfo;
        $(document).ready(function(){


        //             myInfo = function(form) {
        //                 $.ajax({
        //     url: '/ProductInformation/AddCategoryInfo/'+id, // your controller action
        //     type: 'GET',
        //     success: function (res) {
        //         $('#offcanvasBody').html(res); // insert the partial view
        //         var offcanvas = new bootstrap.Offcanvas(document.getElementById('demo'));
        //         offcanvas.show();
        //     },
        //     error: function () {
        //         alert('Failed to load the form.');
        //     }
        // }); do this for post add action and data based on the form pass as params


        myInfo = function(form) 
          {

        var formData = $(form).serialize(); // serialize form fields

        $.ajax({
            url: '/ProductInformation/AddCategoryInfo',
            type: 'POST',
            data: formData,
            success: function (res) {


                Swal.fire(
                            "Deleted!",
                            "The category has been deleted.",
                            "success"
                        ).then(y=>{
         $('#offcanvasBody').html(""); // insert the partial view
        var offcanvasElement = document.getElementById('demo');
        var offcanvasInstance = bootstrap.Offcanvas.getInstance(offcanvasElement);

        // If no instance exists (first-time access), create one
        if (!offcanvasInstance) {
            offcanvasInstance = new bootstrap.Offcanvas(offcanvasElement);
        }

        offcanvasInstance.hide(); //
        $('#display').DataTable().ajax.reload();
                        });

                // Load result (e.g., success message or updated view) into offcanvas
               
            },
            error: function () {
                alert('Failed to submit the form.');
            }
        });

        return false; // prevent default form submit
                     
                }


                    $('#display').DataTable({
                            "ajax": {
                    "url": "https://localhost:7078/ProductInformation/GetData",
                    "type": "GET",
                    "datatype": "json",
                    "error": function (xhr, error, thrown) {
                        console.log("Error loading data:", error);
                    }
                            },
                     "columns": [
                    { "data": "categoryId" },
                    { "data": "categoryName" },
                    { "data": "description" },
                     {
            "data": "categoryId",
            "render": function(data, type, row){
                return `
                    <button class="btn btn-primary btn-sm" onclick="editCategory(${data})">
                        <i class="fas fa-edit"></i> Edit
                    </button>
                    <button class="btn btn-danger btn-sm" onclick="deleteCategory(${data})">
                        <i class="fas fa-trash"></i> Delete
                    </button>
                `;
            }
        }
                              
                     ]


                    });


                   

                  })

        //                   call addEditRecorod = function(id,isedit)
        // {

        // } add the ajax to call paritalview and open offcanvas


                          addEditRecorod = function(id,isedit)
                  {
                       $.ajax({
            url: '/ProductInformation/AddCategoryInfo/'+id, // your controller action
            type: 'GET',
            success: function (res) {
                $('#offcanvasBody').html(res); // insert the partial view
                var offcanvas = new bootstrap.Offcanvas(document.getElementById('demo'));
                offcanvas.show();
            },
            error: function () {
                alert('Failed to load the form.');
            }
        });

                  }


                   deleteCategory = function(id) {
                 Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/ProductInformation/DeleteInfo/${id}`,
                    type: "DELETE",
                    success: function(response) {
                        Swal.fire(
                            "Deleted!",
                            "The category has been deleted.",
                            "success"
                        ).then(y=>{
                             $('#display').DataTable().ajax.reload();
                        });
                       
                    },
                    error: function() {
                        Swal.fire(
                            "Error!",
                            "There was a problem deleting the category.",
                            "error"
                        );
                    }
                });
            }
        });
        }


        //you need to closed this//
        // var offcanvas = new bootstrap.Offcanvas(document.getElementById('demo')); closed the same what should i wrote
    </script>
}