@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table id="display">

    <tr>
        <th>categoryId</th>
        <th>categoryName</th>
        <th>description</th>
        <th>action</th>
            
    </tr>
</table>

@section Scripts
{
    <script>

        var deleteCategory;
        $(document).ready(function(){


                    $('#display').DataTable({
                            "ajax": {
                    "url": "https://localhost:7078/ProductInformation/GetData",
                    "type": "GET",
                    "datatype": "json",
                    "error": function (xhr, error, thrown) {
                        console.log("Error loading data:", error);
                    }
                            },
                     "columns": [
                    { "data": "categoryId" },
                    { "data": "categoryName" },
                    { "data": "description" },
                     {
            "data": "categoryId",
            "render": function(data, type, row){
                return `
                    <button class="btn btn-primary btn-sm" onclick="editCategory(${data})">
                        <i class="fas fa-edit"></i> Edit
                    </button>
                    <button class="btn btn-danger btn-sm" onclick="deleteCategory(${data})">
                        <i class="fas fa-trash"></i> Delete
                    </button>
                `;
            }
        }
                              
                     ]


                    });


                   

                  })


                   deleteCategory = function(id) {
                 Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/ProductInformation/DeleteInfo/${id}`,
                    type: "DELETE",
                    success: function(response) {
                        Swal.fire(
                            "Deleted!",
                            "The category has been deleted.",
                            "success"
                        ).then(y=>{
                             $('#display').DataTable().ajax.reload();
                        });
                       
                    },
                    error: function() {
                        Swal.fire(
                            "Error!",
                            "There was a problem deleting the category.",
                            "error"
                        );
                    }
                });
            }
        });
        }

    </script>
}